
</div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">
                    <a href="/">Some Link</a>
                </p>
            </div>
        </footer>
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.6.4/angular-animate.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
</body>
</html>

