<% include partials/header %>

  <h1>This is the HOME PAGE!</h1>
  <div ng-app="HomeApp">
      <div>
          <input type="text" name="yo" ng-model="yo">
          <div ng-cloak>{{ yo }}</div>
      </div>
      <div ng-controller="HomeController">
        <div ng-view></div>
      </div>
  </div>

<% include partials/footer %>