<% include partials/header %>

  <h1>This is the HOME PAGE!</h1>
  <div ng-app="homeApp">
      <div ng-controller="homeController">
          <input type="text" name="yo" ng-model="yo">
          <div>{{ yo }}</div>
      </div>
  </div>

<% include partials/footer %>