<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Not Found</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles.main.css">
    </head>
    <body>
        <nav class="narbar">
            <div class="container main content">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Page Not Found</a>
                </div>
            </div>
        </nav>
        <div class="container main-content">
            <h1>This page is cannot be found. </h1>
            <h2>What are you doing with your life?</h2>
        </div>
    </body>
</html>